set default=0
set timeout=5

menuentry "Annotator" {
    linux   /boot/bzImage quiet loglevel=3 console=tty0 console=ttyS0,115200n8
    initrd  /boot/initrd
}

menuentry "Annotator (safe / nomodeset)" {
    linux   /boot/bzImage quiet loglevel=3 console=tty0 console=ttyS0,115200n8 nomodeset video=efifb:1920x1080
    initrd  /boot/initrd
}
